.footer-custom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  color: #fff;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1rem;
}

.wrong {
  color: red;
}

.good {
  color: green;
}

.answers-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 5rem;
  width: 50%;
  padding: 1rem 2rem;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 2rem;
}

.check-button {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
}
